*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;

}

body { 
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #f0eded;
    margin: 50px; 
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side {
    position: relative;
    background-color: black;
    padding: 40px;

}

.container  .profile_text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.profile_text .profile_image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #f0eded;
}

.profile_text h2 {
    color: #f0eded;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.8em;

}

.profile_text h2 span {
    font-size: 0.8em;
    font-weight: 300;

}